.body{
    margin: 20px;
}

.hover-container {
  position: relative;
  width: 125px; /* Adjust to your image size */
  background: rgb(255, 209, 109);
  border: 5px solid rgb(255, 209, 109);
}

.darwin-img{
    width: 125px;

}


.hover-link {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none; /* Initially hidden */
  background-color: white; /* Background for text */
  border: 0.5px solid #686670;
  padding: 3px;
  text-decoration:#2b2839;
  font-size: 12px;
  border-radius: 2px;
  box-shadow: 1px 1px #686670;
}

.hover-container:hover .hover-link {
  display: block; /* Show on hover */
}

.whole-card{
  display: flex;
  align-items: center; /* Vertically centers children */
  justify-content: center; /* Horizontally centers children */
  height: 90vh;
}

.card{ 
    color: black;
    width: 400px;
    height: 180.073px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* background: rgb(255, 241, 179); */
    border-bottom: 6px solid rgb(255, 209, 109);
    box-shadow: 10px 10px lightblue, 10px 10px inset pink;
    background: rgb(255, 241, 179);
    /* animation-name: change-background; Links the animation
    animation-duration: 50s; Sets the duration */
}

/* @keyframes change-background{
  from {background-color: white;}
  to {background-color: rgb(255, 241, 179);}
} */

.text{
    padding-top: 30px;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* .border{
    border: 1px dotted orangered;
} */